[submodule "environment/lazy-load.sh"]
	path = environment/lazy-load.sh
	url = git@github.com:jirgn/lazy-load.sh.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
