[submodule "config/base16-shell"]
	path = config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "config/kitty/kitty-themes"]
	path = config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
