snippet afx_comp "atomic fuction afx atomic component" b
prototype(${1:Namespace:}${2:Component.Name}) < prototype(PackageFactory.AtomicFusion:Component) {

	@styleguide {
		title = '${3:The readable title}'
		description = '${4:The readable description}'

		props {
		}
	}

	renderer = afx\`
		$0
	\`
}
endsnippet

